# Terceiro Cap. - Cálculo de Risco de Ações

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_csv('acoes.csv')

In [3]:
df

,Date,GOL,CVC,WEG,MGLU,TOTS,BOVA
0,2015-01-02,14.990000,15.200000,5.923076,0.232812,11.910702,47.259998
1,2015-01-05,14.850000,15.000000,5.963461,0.237187,11.544731,46.320000
2,2015-01-06,15.210000,14.800000,5.875000,0.234062,10.822770,46.580002
3,2015-01-07,14.550000,14.670000,5.807692,0.241875,10.746248,48.150002
4,2015-01-08,14.270000,14.150000,5.905769,0.240000,10.995774,48.509998
...,...,...,...,...,...,...,...
1688,2021-10-25,17.200001,18.150000,39.549999,12.340000,33.380001,104.550003
1689,2021-10-26,16.180000,16.910000,39.660000,11.980000,33.400002,102.250000
1690,2021-10-27,15.890000,16.590000,39.200001,11.600000,33.200001,102.400002
1691,2021-10-28,15.740000,16.530001,37.830002,11.150000,32.910000,100.610001
1692,2021-10-29,15.180000,15.970000,37.000000,10.810000,32.759998,99.680000

## Cálculo de retornos anuais

### 2015

In [4]:
# será feito cálculo de duas ações para checar a taxa de retorno ao longo dos anos

df['CVC'][df['Date'] == '2015-01-02'], df['CVC'][df['Date'] == '2015-12-30']

(0    15.2
 Name: CVC, dtype: float64,
 245    13.5
 Name: CVC, dtype: float64)

In [5]:
# cálculo da taxa de retorno logarítmica

np.log(13.5/15.2) * 100

-11.86057424078469

In [6]:
df['MGLU'][df['Date'] == '2015-01-02'], df['MGLU'][df['Date'] == '2015-12-30']

(0    0.232812
 Name: MGLU, dtype: float64,
 245    0.068945
 Name: MGLU, dtype: float64)

In [7]:
np.log(0.06/0.23) * 100

-134.37347467010946

### 2016

In [8]:
df['CVC'][df['Date'] == '2016-01-04'], df['CVC'][df['Date'] == '2016-12-29']

(246    12.53
 Name: CVC, dtype: float64,
 494    23.700001
 Name: CVC, dtype: float64)

In [9]:
np.log(23.7/12.53) * 100

63.73492792331087

In [10]:
df['MGLU'][df['Date'] == '2016-01-04'], df['MGLU'][df['Date'] == '2016-12-29']

(246    0.070117
 Name: MGLU, dtype: float64,
 494    0.414726
 Name: MGLU, dtype: float64)

In [11]:
np.log(0.41/0.07) * 100

176.76619176489942

### 2017

In [12]:
df['CVC'][df['Date'] == '2017-01-02'], df['CVC'][df['Date'] == '2017-12-29']

(495    23.02
 Name: CVC, dtype: float64,
 748    48.5
 Name: CVC, dtype: float64)

In [13]:
np.log(48.5/23.02) * 100

74.5200394649701

In [14]:
df['MGLU'][df['Date'] == '2017-01-02'], df['MGLU'][df['Date'] == '2017-12-29']

(495    0.397304
 Name: MGLU, dtype: float64,
 748    2.506875
 Name: MGLU, dtype: float64)

In [15]:
np.log(2.5/0.39) * 100

185.78992717326

### 2018

In [16]:
df['CVC'][df['Date'] == '2018-01-02'], df['CVC'][df['Date'] == '2018-12-28']

(749    49.880001
 Name: CVC, dtype: float64,
 993    61.18
 Name: CVC, dtype: float64)

In [17]:
np.log(61.18/49.88) * 100

20.420021791092157

In [18]:
df['MGLU'][df['Date'] == '2018-01-02'], df['MGLU'][df['Date'] == '2018-12-28']

(749    2.478125
 Name: MGLU, dtype: float64,
 993    5.658437
 Name: MGLU, dtype: float64)

In [19]:
np.log(5.65/2.47) * 100

82.74373945184638

### 2019

In [20]:
df['CVC'][df['Date'] == '2019-01-02'], df['CVC'][df['Date'] == '2019-12-30']

(994    61.099998
 Name: CVC, dtype: float64,
 1240    43.799999
 Name: CVC, dtype: float64)

In [21]:
np.log(43.79/61.09) * 100

-33.29427058483686

In [22]:
df['MGLU'][df['Date'] == '2019-01-02'], df['MGLU'][df['Date'] == '2019-12-30']

(994    5.812187
 Name: MGLU, dtype: float64,
 1240    11.925
 Name: MGLU, dtype: float64)

In [23]:
np.log(11.92/5.81) * 100

71.8637090773384

### 2020

In [24]:
df['CVC'][df['Date'] == '2020-01-02'], df['CVC'][df['Date'] == '2020-12-30']

(1241    44.709999
 Name: CVC, dtype: float64,
 1487    20.58
 Name: CVC, dtype: float64)

In [25]:
np.log(20.58/44.70) * 100

-77.56537712136198

In [26]:
df['MGLU'][df['Date'] == '2020-01-02'], df['MGLU'][df['Date'] == '2020-12-30']

(1241    12.3325
 Name: MGLU, dtype: float64,
 1487    24.950001
 Name: MGLU, dtype: float64)

In [27]:
np.log(24.95/12.33) * 100

70.48385050212747

## Variância

In [28]:
# definindo as taxas para cvc

tx_cvc = np.array([-11.86, 63.73,74.52,20.42,-33.29,-77.56])

In [31]:
media_cvc = tx_cvc.sum()/ len(tx_cvc)
media_cvc

5.993333333333335

In [33]:
variancia_cvc = tx_cvc.var()
variancia_cvc

2846.772788888889

In [34]:
# cáculo para a Magalu
tx_mglu = np.array([-134.37,176.76,185.78,82.74,71.86,70.48])

In [35]:
variancia_mglu = tx_mglu.var()
variancia_mglu

11091.923347222224

In [36]:
# alta variância da Magalu indica que ela apesar de ter trazido maior ganho, tem também um maior risco.

## Desvio Padrão

In [37]:
# calculando o desvio padrão para a CVC

dp_cvc = math.sqrt(variancia_cvc)
dp_cvc

53.35515709740614

In [38]:
# calculando para a Magalu

dp_mglu = math.sqrt(variancia_mglu)
dp_mglu

105.31820045567729

## Coeficiente de Variação

In [40]:
# cálculo para a cvc

stats.variation(tx_cvc) * 100

890.2417758187896

In [41]:
stats.variation(tx_mglu) * 100

139.4173640891481

## Risco Médio Anual

In [42]:
# primeiramente vamos apagar os dados de nosso dataset para prosseguirmos com os cálculos

df.drop(labels = ['Date'], axis =1, inplace = True)
df

            GOL        CVC        WEG       MGLU       TOTS        BOVA
0     14.990000  15.200000   5.923076   0.232812  11.910702   47.259998
1     14.850000  15.000000   5.963461   0.237187  11.544731   46.320000
2     15.210000  14.800000   5.875000   0.234062  10.822770   46.580002
3     14.550000  14.670000   5.807692   0.241875  10.746248   48.150002
4     14.270000  14.150000   5.905769   0.240000  10.995774   48.509998
...         ...        ...        ...        ...        ...         ...
1688  17.200001  18.150000  39.549999  12.340000  33.380001  104.550003
1689  16.180000  16.910000  39.660000  11.980000  33.400002  102.250000
1690  15.890000  16.590000  39.200001  11.600000  33.200001  102.400002
1691  15.740000  16.530001  37.830002  11.150000  32.910000  100.610001
1692  15.180000  15.970000  37.000000  10.810000  32.759998   99.680000

[1693 rows x 6 columns]

In [43]:
# cálculo da taxa de retorno simples de todas as ações

tx_retorno = (df / df.shift(1)) - 1
tx_retorno

           GOL       CVC       WEG      MGLU      TOTS      BOVA
0          NaN       NaN       NaN       NaN       NaN       NaN
1    -0.009340 -0.013158  0.006818  0.018792 -0.030726 -0.019890
2     0.024242 -0.013333 -0.014834 -0.013175 -0.062536  0.005613
3    -0.043392 -0.008784 -0.011457  0.033380 -0.007070  0.033705
4    -0.019244 -0.035447  0.016887 -0.007752  0.023220  0.007477
...        ...       ...       ...       ...       ...       ...
1688  0.007026  0.061403  0.016971 -0.006441  0.047052  0.021695
1689 -0.059302 -0.068320  0.002781 -0.029173  0.000599 -0.021999
1690 -0.017923 -0.018924 -0.011599 -0.031719 -0.005988  0.001467
1691 -0.009440 -0.003617 -0.034949 -0.038793 -0.008735 -0.017480
1692 -0.035578 -0.033878 -0.021940 -0.030493 -0.004558 -0.009244

[1693 rows x 6 columns]

In [44]:
# cálculo do desvio padrão para todas as taxas e toda base de dados

tx_retorno.std()*100

GOL     4.935339
CVC     3.505846
WEG     2.223879
MGLU    4.035131
TOTS    2.430916
BOVA    1.688343
dtype: float64