# Terceiro Cap. - Cálculo de Risco de Ações

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_csv('acoes.csv')

In [3]:
df

,Date,GOL,CVC,WEG,MGLU,TOTS,BOVA
0,2015-01-02,14.990000,15.200000,5.923076,0.232812,11.910702,47.259998
1,2015-01-05,14.850000,15.000000,5.963461,0.237187,11.544731,46.320000
2,2015-01-06,15.210000,14.800000,5.875000,0.234062,10.822770,46.580002
3,2015-01-07,14.550000,14.670000,5.807692,0.241875,10.746248,48.150002
4,2015-01-08,14.270000,14.150000,5.905769,0.240000,10.995774,48.509998
...,...,...,...,...,...,...,...
1688,2021-10-25,17.200001,18.150000,39.549999,12.340000,33.380001,104.550003
1689,2021-10-26,16.180000,16.910000,39.660000,11.980000,33.400002,102.250000
1690,2021-10-27,15.890000,16.590000,39.200001,11.600000,33.200001,102.400002
1691,2021-10-28,15.740000,16.530001,37.830002,11.150000,32.910000,100.610001
1692,2021-10-29,15.180000,15.970000,37.000000,10.810000,32.759998,99.680000

## Cálculo de retornos anuais

### 2015

In [9]:
# será feito cálculo de duas ações para checar a taxa de retorno ao longo dos anos

df['CVC'][df['Date'] == '2015-01-02'], df['CVC'][df['Date'] == '2015-12-30']

(0    15.2
 Name: CVC, dtype: float64,
 245    13.5
 Name: CVC, dtype: float64)

In [10]:
# cálculo da taxa de retorno logarítmica

np.log(13.5/15.2) * 100

-11.86057424078469

In [11]:
df['MGLU'][df['Date'] == '2015-01-02'], df['MGLU'][df['Date'] == '2015-12-30']

(0    0.232812
 Name: MGLU, dtype: float64,
 245    0.068945
 Name: MGLU, dtype: float64)

In [13]:
np.log(0.06/0.23) * 100

-134.37347467010946

### 2016

In [14]:
df['CVC'][df['Date'] == '2016-01-04'], df['CVC'][df['Date'] == '2016-12-29']

(246    12.53
 Name: CVC, dtype: float64,
 494    23.700001
 Name: CVC, dtype: float64)

In [15]:
np.log(23.7/12.53) * 100

63.73492792331087

In [16]:
df['MGLU'][df['Date'] == '2016-01-04'], df['MGLU'][df['Date'] == '2016-12-29']

(246    0.070117
 Name: MGLU, dtype: float64,
 494    0.414726
 Name: MGLU, dtype: float64)

In [17]:
np.log(0.41/0.07) * 100

176.76619176489942

### 2017

In [19]:
df['CVC'][df['Date'] == '2017-01-02'], df['CVC'][df['Date'] == '2017-12-29']

(495    23.02
 Name: CVC, dtype: float64,
 748    48.5
 Name: CVC, dtype: float64)

In [20]:
np.log(48.5/23.02) * 100

74.5200394649701

In [21]:
df['MGLU'][df['Date'] == '2017-01-02'], df['MGLU'][df['Date'] == '2017-12-29']

(495    0.397304
 Name: MGLU, dtype: float64,
 748    2.506875
 Name: MGLU, dtype: float64)

In [22]:
np.log(2.5/0.39) * 100

185.78992717326

### 2018

In [30]:
df['CVC'][df['Date'] == '2018-01-02'], df['CVC'][df['Date'] == '2018-12-28']

(749    49.880001
 Name: CVC, dtype: float64,
 993    61.18
 Name: CVC, dtype: float64)

In [26]:
np.log(61.18/49.88) * 100

20.420021791092157

In [27]:
df['MGLU'][df['Date'] == '2018-01-02'], df['MGLU'][df['Date'] == '2018-12-28']

(749    2.478125
 Name: MGLU, dtype: float64,
 993    5.658437
 Name: MGLU, dtype: float64)

In [28]:
np.log(5.65/2.47) * 100

82.74373945184638

### 2019

In [31]:
df['CVC'][df['Date'] == '2019-01-02'], df['CVC'][df['Date'] == '2019-12-30']

(994    61.099998
 Name: CVC, dtype: float64,
 1240    43.799999
 Name: CVC, dtype: float64)

In [32]:
np.log(43.79/61.09) * 100

-33.29427058483686

In [33]:
df['MGLU'][df['Date'] == '2019-01-02'], df['MGLU'][df['Date'] == '2019-12-30']

(994    5.812187
 Name: MGLU, dtype: float64,
 1240    11.925
 Name: MGLU, dtype: float64)

In [34]:
np.log(11.92/5.81) * 100

71.8637090773384

### 2020

In [35]:
df['CVC'][df['Date'] == '2020-01-02'], df['CVC'][df['Date'] == '2020-12-30']

(1241    44.709999
 Name: CVC, dtype: float64,
 1487    20.58
 Name: CVC, dtype: float64)

In [36]:
np.log(20.58/44.70) * 100

-77.56537712136198

In [37]:
df['MGLU'][df['Date'] == '2020-01-02'], df['MGLU'][df['Date'] == '2020-12-30']

(1241    12.3325
 Name: MGLU, dtype: float64,
 1487    24.950001
 Name: MGLU, dtype: float64)

In [38]:
np.log(24.95/12.33) * 100

70.48385050212747

## Variância