# Segundo Cap. - Taxa de Retorno e Cálculo de Risco

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

In [5]:
data = pd.read_csv('acoes.csv')

acoes_novas = pd.read_csv('exercicios.csv')

In [6]:
data

,Date,GOL,CVC,WEG,MGLU,TOTS,BOVA
0,2015-01-02,14.990000,15.200000,5.923076,0.232812,11.910702,47.259998
1,2015-01-05,14.850000,15.000000,5.963461,0.237187,11.544731,46.320000
2,2015-01-06,15.210000,14.800000,5.875000,0.234062,10.822770,46.580002
3,2015-01-07,14.550000,14.670000,5.807692,0.241875,10.746248,48.150002
4,2015-01-08,14.270000,14.150000,5.905769,0.240000,10.995774,48.509998
...,...,...,...,...,...,...,...
1688,2021-10-25,17.200001,18.150000,39.549999,12.340000,33.380001,104.550003
1689,2021-10-26,16.180000,16.910000,39.660000,11.980000,33.400002,102.250000
1690,2021-10-27,15.890000,16.590000,39.200001,11.600000,33.200001,102.400002
1691,2021-10-28,15.740000,16.530001,37.830002,11.150000,32.910000,100.610001
1692,2021-10-29,15.180000,15.970000,37.000000,10.810000,32.759998,99.680000

In [7]:
acoes_novas

,Date,AMBEV,ODONTO,VIVO,PETR,BB,BOVA
0,2015-01-02,16.020000,9.37,37.820000,9.000000,22.650000,47.259998
1,2015-01-05,15.730000,9.62,37.070000,8.270000,22.180000,46.320000
2,2015-01-06,16.330000,9.55,36.150002,8.060000,22.490000,46.580002
3,2015-01-07,16.559999,9.69,37.389999,8.450000,23.480000,48.150002
4,2015-01-08,16.540001,9.66,38.910000,9.020000,23.559999,48.509998
...,...,...,...,...,...,...,...
1689,2021-10-26,15.160000,12.90,44.790001,29.270000,29.200001,102.250000
1690,2021-10-27,15.220000,13.21,44.590000,29.309999,29.170000,102.400002
1691,2021-10-28,16.700001,13.10,45.000000,29.590000,28.910000,100.610001
1692,2021-10-29,16.990000,13.41,45.520000,27.670000,28.500000,99.680000
1693,2021-11-01,17.410000,13.01,46.160000,28.629999,29.469999,101.500000

## Taxa de Retorno Simples

RS = ((PREÇO FINAL - PREÇO INICIAL) / PREÇO INICIAL) * 100

In [11]:
len(data)

1693

In [8]:
data.shape

(1693, 7)

In [15]:
#verificando primeiro registro da GOL para implementarmos o cálculo da tx de retorno simples

data['GOL'][0], data['GOL'][len(data)-1]

(14.989999771118164, 15.18000030517578)

In [18]:
((data['GOL'][len(data)-1] - data['GOL'][0]) / data['GOL'][0])*100

1.267515256562559

In [19]:
((data['CVC'][len(data)-1] - data['CVC'][0]) / data['CVC'][0])*100

5.065792548854635

In [20]:
((data['WEG'][len(data)-1] - data['WEG'][0]) / data['WEG'][0])*100

524.6754059121735

In [21]:
((data['MGLU'][len(data)-1] - data['MGLU'][0]) / data['MGLU'][0])*100

4543.231582893453

In [22]:
((data['TOTS'][len(data)-1] - data['TOTS'][0]) / data['TOTS'][0])*100

175.04675210956978

In [23]:
((data['BOVA'][len(data)-1] - data['BOVA'][0]) / data['BOVA'][0])*100

110.91833230082513

## Taxa de Retorno Diária